* {
  background-color: #033d59;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  text-align: center;
  padding: 5vw;
}
.title {
  font-size: 2vw;
  font-weight: 800;
  color: #f3ab59;
}
.options {
  height: 30vw;
  display: inline-block;
  text-align: center;
}
.options li {
  margin: 2vw 0;
  width: 20vw;
}
.items {
  padding: 0.6vw 0;
  font-size: 1.4vw;
  color: #ffffff;
  list-style: none;
  background: #3d9eb6;
  border-radius: 4vw;
}
.items a {
  text-decoration: none;
  color: #ffffff;
  background: none;
}
